.searchParameters {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  max-width: 700px;
  margin-top: 10px;

  @media screen and (max-width: 1024px) {
    gap: 15px;
    justify-content: center;
  }

  .dataRange {
    width: 300px;

    label {
      color: white;
    }

    div {

      input {
        background: rgba(0, 0, 0, 0);
        color: white;
      }

      button {
        color: white;
        background-color: rgba(0, 0, 0, 0.7);
      }

      button[data-in-range] {
        background-color: rgba(255, 0, 0, 0.71);
      }

      button[data-weekend] {
        color: red;
      }

      button[data-outside] {
        color: #bbbbbb;
      }

      button:hover {
        background-color: rgb(255, 255, 255);
        border-radius: 4px;
        color: black;
      }

      button[data-selected] {
        background-color: #ffffff;
        color: black;
      }

    }
  }

  .radioAndSwitch {
    display: flex;
    align-items: end;
    gap: 35px;

    @media screen and (max-width: 1024px) {
      gap: 15px;
    }

    .radioGroup {
      width: 175px;

      div {
        color: white;
      }
    }

  }


}