.header {
  border-radius: 10px;

  .toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      text-decoration: none;
      font-size: 36px;
      color: white;
      cursor: pointer;
      font-weight: bold;

      @media screen and (max-width: 768px) {
        font-size: 36px;
      }
    }

    h3 {
      padding: 0;
      margin: 0;
      text-align: center;
      font-size: 26px;
      color: #ffffff;

      @media screen and (max-width: 1024px) {
        font-size: 22px;
      }
      @media screen and (max-width: 768px) {
        display: none;
      }
    }

    .basket {
      color: red;

      &:hover {
        cursor: pointer;
      }
    }

  }


}