.header {
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 10px;

  .toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      text-decoration: none;
      font-size: 52px;
      color: white;
      cursor: pointer;
      font-weight: bold;
    }

    h3 {
      text-align: center;
      font-size: 36px;
      color: #ffffff;
    }

    .basket {
      width: 50px;
      height: 50px;
      background-color: burlywood;
    }
  }


}