.Asteroids {
    width: 80%;
    margin: 0 auto;
}

@media screen and (max-width: 500px) {
    .Asteroids {
        width: 100%;
    }
}

.stickyBlock {
    position: sticky;
    top: 0;
    padding: 15px 10px 10px;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 10 !important;
    border-radius: 10px;
    box-shadow: 0 0 30px 15px #050000;
}

.blackHole {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.blackHole img {
    width: 360px;
    animation: spin 3s linear infinite;
}

#particles-js {
    position: absolute;
    width: 100%;
    /*height: 50%;*/
    z-index: -1 !important;
}

